@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="hs_page_title">
            <div class="container">
                <h3>blog Single Post</h3>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="blog">blog Single Post</a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4 class="hs_heading">This is Simple And Clean Post</h4>
                    <div class="hs_blog_single">
                        <img src="~/Content/images/portfolio/portfolio1.jpg" alt="" />
                        <div class="hs_blog_categorie_detail">
                            <div class="hs_blog_categorie_date">
                                <ul>
                                    <li><a href="#"><i class="fa fa-calendar"></i> 12-Dec-2018</a></li>
                                    <li><a href="#"><i class="fa fa-heart"></i> 258</a></li>
                                    <li><a href="#"><i class="fa fa-eye-slash"></i> 198</a></li>
                                    <li><a href="#"><i class="fa fa-comments"></i> 127</a></li>
                                    <li><a href="#"><i class="fa fa-user"></i> Jack Wilston</a></li>
                                </ul>
                            </div>
                            <hr>
                            <a href="#">
                                <h4>Curabitur pulvinar in arcu mollis commodo.</h4>
                            </a>
                            <p>Fusce sagittis blandit porta. Donec malesuada suscipit faucibus. Proin non fringilla arcu, sed porta purus. Ut eget risus pharetra,cibus ante vitae, gravida magnaue ac elementum tortor. Vestibulum accumsan consectetur mollis. In hac habitasse platea dictumst. Duis id urna nibh. In varius lectus eu diam auctor, vel pulvinar magna dignissim. Maecenas nec mauris tempor, lobortis purus vitae, faucibus turpis. Donec ac ullamcorpeisi. Aenean eleifend molestie est sed mrabitur eu nunc mollis quam elementum consequat quis eget enim. Aliquam non velit vehicula,pus quam a, commodo nunc. Suspendisse varius, lacus in consectetur.</p>
                            <p>Nam non tellus sit amet erat congue molestie. Sed fermentum, lacus in portulputate, felis ligula scelerisque mauris, ut euismod eros magna at orci. Aenean congue luctus nulla. Pellentesque metus est, mattis a ligula nec, consectetur cursus nulla. Maecenas et lectus convallis, malesuast ac, imperdiet nulla. Pellentesque sed lacus sapien. Praesent nunc nisi, falisis vel orci vitae, dictum porta neque. Vivamus dapibus, quam sit amet dapibus sollicitudin.Donec ac ullamcorpeisi. Aenean eleifend molestie est sed mrabitur eu nunc mollis quam elementum consequat quis eget enim. Aliquam non velit vehicula,pus quam a, commodo nunc. Suspendisse varius, lacus in consectetur.Pellentesque metus est, mattis a ligula nec, consectetur cursus nulla. Maecenas et lectus convallis.</p>
                        </div>
                    </div>
                    <h4 class="hs_heading">Comment</h4>
                    <div class="hs_comment_form">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button"><i class="fa fa-user"></i></button>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Full Name">
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button"><i class="fa fa-envelope"></i></button>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                                <!-- /input-group -->
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="8"></textarea>
                                </div>
                                <!-- /input-group -->
                            </div>
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="hs_checkbox" class="css-checkbox lrg" checked="checked" />
                                            <label for="hs_checkbox" name="checkbox69_lbl" class="css-label lrg hs_checkbox">Receive Your Comments By Email</label>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12"> <a href="#" class="btn btn-default btn-big pull-right">Send</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="hs_margin_30"></div>
                    <div class="hs_comment">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-2"><img src="~/Content/images/portfolio/portfolio1.jpg" alt="" /></div>
                            <div class="col-lg-11 col-md-11 col-sm-10">
                                <div class="hs_comment_date">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Jack Wilston</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i> 12-Dec-2018</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 2:32 PM</a></li>
                                    </ul>
                                </div>
                                <p>Curabitur ullamcorper dictum risus sed elementum. Sed pretium in risus non ollicitudin. Morbi euismod consecteturisque. Phasellus quis cursus ant sagittis pellentesque pulvinar. Maecenas pharetra.</p>
                                <a href="#" class="btn btn-success pull-right">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="hs_sub_comment_div">
                        <div class="hs_sub_comment">
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                    <div class="hs_comment">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-2 col-sm-2"><img src="~~/Content/images/portfolio/portfolio2.jpg" alt="" /></div>
                                            <div class="col-lg-11 col-md-10 col-sm-10">
                                                <div class="hs_comment_date">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-user"></i> Jack Wilston</a></li>
                                                        <li><a href="#"><i class="fa fa-calendar"></i> 12-Dec-2018</a></li>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 2:32 PM</a></li>
                                                    </ul>
                                                </div>
                                                <a href="#" class="hs_in_relpy">In reply to  Jack wilstone </a>
                                                <p>CurabiturCurabitur ullamcorper dictum risus sed elementum. Sed pretium in risus n  Morbi euismod.</p>
                                                <a href="#" class="btn btn-default pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hs_sub_comment">
                            <div class="row">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
                                    <div class="hs_comment">
                                        <div class="row">
                                            <div class="col-lg-1 col-md-2 col-sm-2"><img src="~/Content/images/portfolio/portfolio3.jpg" alt="" /></div>
                                            <div class="col-lg-11 col-md-10 col-sm-10">
                                                <div class="hs_comment_date">
                                                    <ul>
                                                        <li><a href="#"><i class="fa fa-user"></i> Jack Wilston</a></li>
                                                        <li><a href="#"><i class="fa fa-calendar"></i> 12-Dec-2018</a></li>
                                                        <li><a href="#"><i class="fa fa-clock-o"></i> 2:32 PM</a></li>
                                                    </ul>
                                                </div>
                                                <a href="#" class="hs_in_relpy">In reply to  Jack wilstone </a>
                                                <p>CurabiturCurabitur ullamcorper dictum risus sed elementum. Sed pretium in risus n  Morbi euismod.</p>
                                                <a href="#" class="btn btn-success pull-right">Reply</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hs_margin_30"></div>
                    <div class="hs_comment">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-2"><img src="~/Content/images/portfolio/portfolio4.jpgg" alt="" /></div>
                            <div class="col-lg-11 col-md-11 col-sm-10">
                                <div class="hs_comment_date">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-user"></i> Jack Wilston</a></li>
                                        <li><a href="#"><i class="fa fa-calendar"></i> 12-Dec-2018</a></li>
                                        <li><a href="#"><i class="fa fa-clock-o"></i> 2:32 PM</a></li>
                                    </ul>
                                </div>
                                <p>Curabitur ullamcorper dictum risus sed elementum. Sed pretium in risus non ollicitudin. Morbi euismod consecteturisque. Phasellus quis cursus ant sagittis pellentesque pulvinar. Maecenas pharetra.</p>
                                <a href="#" class="btn btn-default pull-right">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="hs_margin_80"></div>
                </div>
            </div>
        </div>

